<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastFood | Ecommerce Website Design</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/css/template.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
      integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo"><i class="fas fa-utensils"></i> FastFood </a>
      <nav class="navbar">
        <a href="./template.html">Trang chủ</a>
        <a href="./category.html" class="scroll" data-section="popular"
          >Đồ ăn</a
        >
        <a
          href="./aboutUs.html"
          target="_blank"
          class="scroll"
          data-section="about-us"
          >Về chúng tôi</a
        >
        <a href="#contact" class="scroll" data-section="contact">Liên hệ</a>
        <a href="#rate-us" class="scroll" data-section="rate-us">Đánh giá</a>
        
      </nav>
       <div class="icons">
            <div onclick="menuToggle()" class="fas fa-shopping-cart" id="cart-btn"></div>
        </div>
        <!-- <div class="action">
            <div class="profile" onclick="menuToggle();">
                <img src="/img/user.png">
            </div>
            <div class="list">
                <h3><%= user.username%> <br><span><%= user.role%></span></h3>
                <ul>
                    <li><img src="/img/profile.png"><a href="#">Thông tin</a></li>
                    <li><img src="/img/question.png"><a href="#">Hỏi đáp</a></li>
                    <li><img src="/img/settings.png"><a href="#">Cài đặt</a></li>
                    <li class="btn-logout"><img src="/img/log-out.png"><a href="#">Log Out</a></li>
                </ul>
            </div>
        </div> -->
        <div id="cart">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Giỏ Hàng</h5>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="cart-row">
                        <span class="cart-item cart-header cart-column">Sản Phẩm</span>
                        <span class="cart-price cart-header cart-column">Giá</span>
                        <span class="cart-quantity cart-header cart-column">Số Lượng</span>
                        <span class="cart-price cart-header cart-column">Tổng Giá</span>
                        <span class="cart-price cart-header cart-column">Xóa</span>
                    </div>
                    <div class="cart-items">
                       
                                <div class="cart-row">
                                    <div class="cart-item cart-column">
                                        <img class="cart-item-image" src="../../public/img/g-6.jpg" alt="demo" width="100" height="100">
                                        <span class="cart-item-title">demo</span>
                                    </div>
                                    <span class="cart-price cart-column">1000d</span>
                                    <div class="cart-quantity cart-column">
                                        <!-- <input class="cart-quantity-input" type="number" id="demo" value="demo" onchange="changeQtyItems(this)" > -->
                                         <input class="cart-quantity-input" type="number" id="demo" value="1" onchange="changeQtyItems(this)" >
                                    </div>
                                    <span class="cart-price cart-column">100000 </span>
                                    <!-- <button class="btn btn-danger " onclick="deleteItems('<%= product.id %>')" type="button">Xóa</button> -->
                                     <button class="btn btn-danger " onclick="" type="button">Xóa</button>
                                </div>
                               <div class="cart-row">
                                    <div class="cart-item cart-column">
                                        <img class="cart-item-image" src="../../public/img/g-6.jpg" alt="demo" width="100" height="100">
                                        <span class="cart-item-title">demo</span>
                                    </div>
                                    <span class="cart-price cart-column">1000d</span>
                                    <div class="cart-quantity cart-column">
                                        <!-- <input class="cart-quantity-input" type="number" id="demo" value="demo" onchange="changeQtyItems(this)" > -->
                                         <input class="cart-quantity-input" type="number" id="test" value="2" onchange="changeQtyItems(this)" >
                                    </div>
                                    <span class="cart-price cart-column">100000 </span>
                                    <!-- <button class="btn btn-danger " onclick="deleteItems('<%= product.id %>')" type="button">Xóa</button> -->
                                     <button class="btn btn-danger " onclick="" type="button">Xóa</button>
                                </div>
                            <div class="cart-total">
                                <!-- <strong class="cart-total-title">Tổng Cộng:</strong>
                                <span class="cart-total-price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(cart.totalPrice) %> </span><br>
                                <strong class="cart-total-title">Tổng số lượng:</strong>
                                <span class="cart-total-price"><%= cart.totalQuantity %> </span> -->
                                <strong class="cart-total-title">Tổng Cộng:</strong>
                                <span class="cart-total-price">10 </span><br>
                                <strong class="cart-total-title">Tổng số lượng:</strong>
                                <span class="cart-total-price">10</span>
                            </div>
                      
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn close-footer">Đóng</button>
                    <a href="/checkout"><button type="button" class="btn order">Đặt Hàng</button></a>
                </div>
            </div>
        </div>
    </div>
    </header>
    <section class="home" id="home">
      <div class="row">
        <div class="col-2">
          <h3 align="center">
            Giải quyết cơn đói của bạn một cách <span>nhanh chóng!</span>
          </h3>
          <p>
            Không cần đi đâu xa cũng có thể thưởng thức hamburger và nhâm nhi gà
            rán cùng gia đình ngay tại nhà trong mùa dịch. Còn chần chờ gì mà
            không đặt hàng ngay!!!
          </p>
          <a href="./category.html" class="btn"
            ><strong>Order now &#10132;</strong></a
          >
        </div>
        <div class="col-2">
          <img src="../../public//img/home-img.png" />
        </div>
      </div>
    </section>
    <section class="speciality" id="speciality">
      <h1 class="heading"><span>Menu</span></h1>
      <div class="box-container">
        <div class="box">
          <a href="./category.html">
          <img class="image" src="../../public/img/banh1.jpg" alt="" />
          <div class="content">
            <img
              src="../../public/img/cupcake.png"
              width="50px"
              height="50px"
              alt="hamburger icon"
            />
          </a>
            <h3>Bánh</h3>  
          </div>
        </div>
        <div class="box">
          <img class="image" src="../../public/img/bubo.jpg"  alt="" />
          <div class="content">
            <img
              src="../../public/img/hamburger.png"
              width="50px"
              height="50px"
              alt="pizza icon"
            />
            <h3>Burger</h3>
           
          </div>
        </div>
        <div class="box">
          <img class="image" src="../../public/img/ga1.jpg" alt="" />
          <div class="content">
            <img
              src="../../public/img/fried-chicken.png"
              width="50px"
              height="50px"
              alt="icecream icon"
            />
            <h3>Gà rán</h3>
            <p></p>
          </div>
        </div>
        <div class="box">
          <img class="image" src="../../public/img/dr1.jpg" alt="" />
          <div class="content">
            <img
              src="../../public/img/soda.png"
              width="50px"
              height="50px"
              alt="chicken icon"
            />
            <h3>Nước</h3>
            <p></p>
          </div>
        </div>
      </div>
    </section>

    <h1 class="heading"><span>Đánh giá</span></h1>

    <section class="rate-us" id="rate-us">
      <div class="sliderHome">
        <div class="slideHome active">
          <img
            class="background"
            src="../../public/img/background-slide1.png"
          />
          <div class="content">
            <img class="avatar" src="../../public/img/avatar1.jpg" />
            <div class="text">
              <h2>Nguyễn Văn A</h2>
              <br />
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>
                Quán nhiệt tình, giao hàng nhanh, đóng gói cẩn thận. Món giao
                tới vẫn còn nóng, giữ được độ ngon.
              </p>
            </div>
          </div>
        </div>
        <div class="slideHome">
          <img
            class="background"
            src="../../public/img/background-slide1.png"
          />
          <div class="content">
            <img class="avatar" src="../../public/img/avatar2.jpg" />
            <div class="text">
              <h2>Trần Yến B</h2>
              <br />
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>
                Nhân viên rất nhiệt tình, giao hàng nhanh chóng. Hỗ trợ khách
                hàng cũng rất tốt. Rất xứng đáng 5 sao.
              </p>
            </div>
          </div>
        </div>
        <div class="slideHome">
          <img
            class="background"
            src="../../public/img/background-slide1.png"
          />
          <div class="content">
            <img class="avatar" src="../../public/img/avatar3.jpg" />
            <div class="text">
              <h2>Phạm Anh C</h2>
              <br />
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>
                Đồ ăn rất ngon, giá cũng hợp lí. Giao hàng nhanh với chăm sóc
                khách hàng rất tốt. Sẽ ủng hộ nhiều.
              </p>
            </div>
          </div>
        </div>
        <div class="slideHome">
          <img
            class="background"
            src="../../public/img/background-slide1.png"
          />
          <div class="content">
            <img class="avatar" src="../../public/img/avatar4.jpg" />
            <div class="text">
              <h2>Lê Minh D</h2>
              <br />
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>
                Quán nhiệt tình, giao hàng nhanh, đóng gói cẩn thận. Món giao
                tới vẫn còn nóng, giữ được độ ngon.
              </p>
            </div>
          </div>
        </div>
        <div class="slideHome">
          <img
            class="background"
            src="../../public/img/background-slide1.png"
          />
          <div class="content">
            <img class="avatar" src="../../public/img/avatar5.jpg" />
            <div class="text">
              <h2>Hà Quý E</h2>
              <br />
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>
                Nhân viên rất nhiệt tình, giao hàng nhanh chóng. Hỗ trợ khách
                hàng cũng rất tốt. Rất xứng đáng 5 sao.
              </p>
            </div>
          </div>
        </div>
        <div class="navigation">
          <i class="fas fa-chevron-left prev-btnHome"></i>
          <i class="fas fa-chevron-right next-btnHome"></i>
        </div>
        <div class="navigation-visibility">
          <div class="slide-iconHome active"></div>
          <div class="slide-iconHome"></div>
          <div class="slide-iconHome"></div>
          <div class="slide-iconHome"></div>
          <div class="slide-iconHome"></div>
        </div>
      </div>
    </section>
    <div>
      <a href="../layout/aboutUs.html" target="_blank">
        <h1 class="heading"><span>Về chúng tôi</span></h1>
        <section class="about-us" id="about-us">
          <img src="../../public/img/about-us.jpg" />
          <div class="text-abt-us">
            <h2>FastFood Shop</h2>
            <br />
            <p>
              FastFood Shop được thành lập tháng vào 8 năm 2021, bởi
              <strong>Nhóm 2</strong>.
            </p>
            <br />
            <p>
              Ảnh hưởng của đại dịch COVID-19, chúng tôi đã phải thay đổi hình
              thức kinh doanh của FastFood Shop, từ offline sang
              <strong>online</strong>. Giữa đại dịch nguy hiểm, bạn vẫn có thể
              thưởng thức những món ăn ngon của FastFood Shop. Chỉ cần truy cập
              vào website của FastFood Shop, chọn những món bạn yêu thích, chỉ
              cần đợi trong giây lát, và thế là bạn đã có thể thưởng thức các
              món ngon một cách ngon miệng và <strong>an toàn</strong> trong mùa
              dịch này.
            </p>
          </div>
        </section>
      </a>
    </div>
    <section class="steps">
      <div class="box">
        <img src="../../public/img/step-1.jpg" alt="" />
        <h3>Lựa chọn đồ ăn bạn yêu thích</h3>
      </div>
      <div class="box">
        <img src="../../public/img/step-2.jpg" alt="" />
        <h3>Giao hàng nhanh chóng và miễn phí</h3>
      </div>
      <div class="box">
        <img src="../../public/img/step-3.jpg" alt="" />
        <h3>Thanh toán tiện lợi</h3>
      </div>
      <div class="box">
        <img src="../../public/img/step-4.jpg" alt="" />
        <h3>Thưởng thức đồ ăn ngon miệng</h3>
      </div>
    </section>
    <div id="cart"></div>
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>FastFood <i class="fas fa-utensils"></i></h3>
          <p>Đem đến cho bạn trải nghiệm tuyệt vời nhất!</p>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
          </div>
        </div>
        <div class="box" id="contact">
          <h3>Liên hệ</h3>
          <a href="#" class="links">
            <i class="fas fa-phone"></i> +123-456-7890
          </a>
          <a href="#" class="links">
            <i class="fas fa-phone"></i> +111-222-3333
          </a>
          <a href="#" class="links">
            <i class="fas fa-envelope"></i> 1952xxxx@gmail.com
          </a>
          <a href="#" class="links">
            <i class="fas fa-map-marker-alt"></i> Microsoft Teams
          </a>
        </div>
        <div class="box">
          <h3>Di chuyển đến</h3>
          <a href="#" class="links">
            <i class="fas fa-arrow-right"></i> Trang chủ
          </a>
        </div>
        <div class="box">
          <h3>Thông báo</h3>
          <p>Đăng ký nhận thông báo mới nhất từ chúng tôi</p>
          <input type="email" placeholder="your email" class="email" />
          <input type="submit" value="Gửi" class="btn" />
          <img src="../../public/img/payment.png" class="payment-img" alt="" />
        </div>
      </div>
      <div class="credit">created by <span> Nhóm 2 </span> | Welcome</div>
    </section>
    <div class="loader-container">
      <img src="../../public/img/loader.gif" alt="" />
    </div>
  </body>
  <script src="../../public/js/script.js"></script>
</html>
